<table class='primary'>
  <thead>
    <tr>
      <th>Description</th>
      <th>Notes</th>
      <th>Borrowed since</th>
      <th><a href="#" {{action "setShowReturned" "showReturned"}}>State</a>Toggle View</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each filteredArticles as |article|}}
      {{articles/article-row article=article save="save" delete="delete" articleStates=possibleStates}}
    {{/each}}
  </tbody>
</table
